.uhctf_sponsors {
    margin: 0px;

    overflow-x: scroll;
    overflow-y: hidden;
    height: 70px;
    padding: 10px 0px;
    margin: 20px 0px;
    white-space: nowrap;
    position: relative;
    -webkit-overflow-scrolling: touch;
    background: white
}

.uhctf_sponsor {
    display: inline-block;
    max-height: 100%;
    float: none;
    margin: 0px 10px;
}


.uhctf_sponsor_slideshow {
    text-align: center;
    margin: 0px;
    color: #000 !important;
}

.uhctf_sponsor_slideshow .uhctf_sponsor {
    margin: 0 auto;
}

.uhctf_sponsor_slideshow .uhctf_sponsor.hidden {
    display: none;
}

.uhctf_sponsors_banner {
    text-align: right;
}