.uhctf_sponsors {
    margin: 0px;

    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    height: 70px;
    padding: 10px 0px;
    margin: 20px 0px;
    white-space: nowrap;
    position: relative;
    -webkit-overflow-scrolling: touch;
    background: white;
}
.uhctf_sponsors::-webkit-scrollbar {
  display: none;
}

.uhctf_sponsor {
    display: inline-block;
    max-height: 100%;
    float: none;
    margin: 0px 10px;
}


.uhctf_sponsor_slideshow {
    text-align: center;
    margin: 0px;
    color: #000 !important;
    padding: 10px;
}

.uhctf_sponsor_slideshow .uhctf_sponsor {
    margin: 0 auto;
}

.uhctf_sponsor_slideshow .uhctf_sponsor.hidden {
    display: none;
}

.uhctf_sponsors_banner {
    text-align: right;
}

.container {
    padding-top: 0px;
}
/* Sponsor page styles */
.sponsor_page_sponsor {}